<!DOCTYPE html>
<html>
<head>
	<title>Electric Energy Calculation </title>
	<link rel="stylesheet" type="text/css" href={{url_for('static',filename='index.css')}}>
</head>
<body>
	<div class="background-image"></div>
	<div class="container">
		<h1>Welcome to the Electric Bill Calculator</h1>
		<a href="/daily"><button class="Btn">
            Let's Calculate for Daily
          </button></a>
          <Br></Br>
          <a href="/monthly"><button class="Btn">
            Let's Calculate for Monthly
          </button></a>
	</div>
</body>
</html>